/*configuration contener1*/
.contener1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.block1 {
    background-color: #27ad60;
    width: 80%;
    height: 100px;
}

.block2 {
    background-color: #206794;
    width: 20%;
    height: 100px;
}

.block3 {
    background-color: #e74c3c;
    width: 30%;
    height: 300px;
}

.block4 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 300px;
    background-color: black;
}

.block5 {
    background-color: #2c3e50;
    width: 100%;
    height: 400px;
}

.sousblock1 {
    background-color: #e67e22;
    height: 150px;
    width: 50%;

}

.sousblock2 {
    background-color: #95a5a6;
    height: 150px;
    width: 50%;

}

.sousblock3 {
    background-color: #f39c12;
    height: 150px;
    width: 33.33%;

}

.sousblock4 {
    background-color: #16a085;
    height: 150px;
    width: 33.33%;

}

.sousblock5 {
    background-color: #d35400;
    height: 150px;
    width: 33.33%;